# Ignore test output
OUTPUT_test
mckernel_tests.log
Seismograms
Filters
fail_messages.txt
gaboroutput*
# Except this file
!.gitignore
!ref_make_input/CMTSOLUTION
!ref_make_input/receiver.dat
!ref_make_input/filters.dat
